@font-face {
	font-family: appleFont;
	src: url(assets/SFNSDisplay-Heavy.otf);
	font-weight: 800;
}
@font-face {
	font-family: appleFont;
	src: url(assets/SF-UI-Display-Regular.otf);
	font-weight: normal;
}
* {
	padding: 0;
	margin: 0;
	font-family: appleFont;
}
body {
	/* max-height: 100vh; */
	background: radial-gradient(circle, rgb(37, 37, 37) 0%, rgba(1, 1, 1, 1) 100%);
	background-color: rgba(1, 1, 1, 1);
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}
model-viewer {
	margin-top: 4rem;
	width: 600px;
	height: 800px;
	--poster-color: black;
}
model-viewer:focus,
model-viewer:focus-visible {
	border: none;
	outline: none;
}

model-viewer::part(default-progress-bar) {
	visibility: hidden;
}
.rightContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50rem;
}

.topPart {
	display: flex;
	flex-direction: column;
}
.titleMint {
	color: white;
	font-size: 2rem;
	font-weight: 800;
}
.underTitle {
	margin: 0.5rem 0;
	color: gray;
}

.connectButton {
	background-color: rgb(184, 33, 184);
	outline: 3px solid rgb(167, 97, 170);
	color: white;
	padding: 0.7rem 0;
	border-radius: 0.3rem;
	margin: 1.3rem 0;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	border: none;
}

.connectButton:hover {
	background-color: rgb(211, 80, 211);
}
.connectButton:focus-visible,
.connectButton:focus {
	border: none;
}

.highlightBox {
	display: flex;
	flex-direction: column;
	background-color: rgb(41, 41, 41);
	border: 1px solid rgb(71, 71, 71);
	border-radius: 0.3rem;
	padding: 1.3rem;
	gap: 0.5rem;
}
.boxes {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.boxTitle {
	color: white;
}
.boxText {
	color: gray;
	line-height: 1.5rem;
}
.bottomBoxes > .highlightBox {
	padding: 1rem;
}
.bottomBoxes > .highlightBox:nth-child(1) {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.bottomBoxes > .highlightBox:nth-child(2) {
	border-radius: 0;
}
.bottomBoxes > .highlightBox:nth-child(3) {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin: 0 1.5rem;
}
.promotion {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-top: 0.5rem;
}
.promoLogo {
	height: 40px;
	filter: invert();
	filter: invert(23%) sepia(24%) saturate(6739%) hue-rotate(281deg) brightness(96%) contrast(103%);
	transition: all 0.5s ease-out;
}
.promoLogo:hover {
	transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 800px) {
	.mainContainer {
		flex-direction: column;
		gap: 1rem;
	}
	model-viewer {
		margin-top: 2rem;
		width: 300px;
		height: 150px;
	}
	.rightContainer {
		max-width: 500px;
	}
	video {
		width: 320px;
	}
}
.videoPlayer {
	z-index: 20;
	height: auto;
}

.videoContainer {
	display: flex;
	justify-content: center;
	/* width: fit-content; */
	border-radius: 0.5rem;
	height: fit-content;
	margin: 1rem 0;
}
